* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.dashboard {
    display: flex;
    width: clamp(300px, 75vw, 800px);
}

.owner {
    flex-basis: 20%;
}

.details {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}